.inputs div{
    margin-left: 50px;
    margin-bottom: 20px;
    font-size: 2em;
}
.inputs div input{
    margin-left: 40px;
}
#earth{
    margin-left: 48px;
}
#longitude{
    margin-left: 60px;
}
#latitude{
 margin-left: 85px;

}
#magnitude{
    margin-left: 55px;
}