
* {
    border: 2px solid rgb(53, 105, 156);
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

header{
    height: 15em;
}

header, footer {
    background-color: darkslategray;
}

h1 {
    font-size: 2em;
    text-align: center;
}

nav {
    border-top: 1px solid black;
    font-size: 2em;

}

nav form{
    float: right;
    font-size: 12px;
}

main {
    background-color: white;
    /* height: 40px;  */
    text-align: center;
}

section {
    background-color: grey;
    /* height: 600px; */
    text-align: center;
    margin: 0 auto 0 auto;
    padding: 1em 0 1em 0;
}

footer {
    height: 2.5em;
    text-align: center;
    position: absolute;
    width: 100%;
}

/* cancels out map */
/* div { */
    /* background-color: rgb(250, 248, 248); */
    /* color: white;
    margin: 0 auto 0 auto; */
/* } */


#map {
    height: 400px;
    width: auto;
}
  /* Optional: Makes the sample page fill the windo*/

  .dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 30px;
    font-size: 30px;
    border: none;
    cursor: pointer;
    height: 100%;
}
div .dropdown{
    padding: 75px;
}

.dropdown {
    padding-left :-200px 200px;
    position: relative;
    /* display: inline-block; */
    /* float: left; */
    height: 100%;

}
h2{
    font-size:2.5em
}

a{
    font-size:1.5em 
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 1000px;
    box-shadow: 0px 25px 25px 0px rgba(0,0,0,0.2);
    width: 25px;
}

.dropdown-content a {
    color: black;
    padding: 10px 10px ;
    text-decoration: none;
    display: block;
    padding-bottom: 5px;
    /* float: right; */

}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.magnitude:hover .dropbtn {
    background-color: #3e8e41;
}
form {
    margin-left:20px;

}

div{
    height :100%;
    padding-bottom: 50px;
}