* {
    border: 2px solid rgb(53, 105, 156);
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: darkslategray;
}

main {
    background-color: white;
    height: 800px;
    text-align: center;
}

section {
    background-color: grey;
    height: 600px;
    text-align: center;
    margin: 0 auto 0 auto;
    padding: 1em 0 1em 0;
}


/* cancels out map */
/* div {
    background-color: rgb(250, 248, 248);
    color: white;
    margin: 0 auto 0 auto;
} */


#map {
    height: 400px;
    width: auto;
}
  /* Optional: Makes the sample page fill the window. */


