
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}  

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.shake {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }



header {
    height: 8em;
    padding-bottom: .75em;
}

header div img{
    float: left;

}

footer {
    background-color: rgb(243, 239, 239);
}


h1 {
    color: black;
    height: 1.5em;
    font-size: 40px;
    font-weight: bold;
    line-height: 60px;
    text-align: left;
    position: relative;
    top: .75em;
}


a{
    text-decoration: none;
    color: rgb(12, 12, 12);
}

a:hover{
    color:  rgb(116, 116, 116);
}

p, h3{
    padding: .5em;
    text-align: left;
}


h3{ 
    font-weight: bold; 
    padding-top: .5em;
    text-transform: uppercase;
    text-align: left;
}

nav{
    margin-right: 2em;
    float: right;
    position: relative;
    top: -1em;
}

.navbar a {
    background-color: rgb(218, 218, 218);
    color: #757272;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background-color: #ddd;
    color: rgb(12, 12, 12);
    font-weight: bold;
}

#trigger-quake {
    height: 110px;
    margin: .2em;
    width: 100%;
    bottom: 15px;
    color: #1a1919;
    text-align: left;
    top: .5em;
    margin: 0em 2em 0em 1.2em;
}

#trigger-quake p{
    display: inline-block;
}
 

nav form, button{
    font-size: 12px;
    border-width: 0px;
    margin-top: 1em;
} 


#userInfo {
    float: right;
    margin-left: auto;
    padding-right: 1em;
}


#liveFeed {
    background-color: rgba(247, 230, 174, 0.5);
    box-shadow: inset 120px 0px 120px -50px white,
              inset -120px 0px 120px -50px  white;
    height: 80px;
    overflow: hidden;
    position: relative;
    margin: 1em auto 0em auto;
    top: -2em;
    width: 93%;
}

#liveFeed p, h3{
    width: 75%;
    margin: auto; 
    text-align: center;   
}

#liveFeed:hover{
    text-decoration: underline;
}

#liveFeed h3{
    color: blue;
}

section  {
    background-color: rgb(218, 218, 218);
    border-radius: 3px;
    margin: 0em 2em 0em 2em;
    text-align: center;
}


#map {
    border: 2px solid grey;
    height: 500px;
    margin: 0 auto 0 auto;
    width: 100%
}

aside{
    font-weight: bold;
}

form {
    text-align: center;
}

footer {
    height: 2.5em;
    text-align: center;
    left: 0;
    bottom: 0;
    margin-top: 1.5em;
    padding-top: .5em;
    width: 100%;
}

.startHidden {
    display: none;
}

.submitButton {
    background-color: rgb(187, 187, 187);
}

.submitButton:hover {
    background-color: rgb(116, 116, 116);
}

fieldset {
    text-align: center;
}

input, .locSelect {
    margin: .3em auto .3em auto;
    padding: .05em;
}

h4{
    padding-top: .5em;
}

#submit-state{
    margin: 1em 0 .5em 1em;
}

#user-state{
    margin: 1em 0 2em 0em;
}

#trigger-quake p{
    display: block;
    margin-bottom: .25em;
    padding-left: 0px
}

#trigger-quake input{
    display: inline-block;
    margin-bottom: .5em;
}

#reset-state{
    display: none;
}

.locSelect {
    background-color: darkgrey;
    border-radius: 3px;
    padding: .1em;
}

.mapDiv {
    border-radius: 3px;
    position: relative;
    padding: 1em;
    padding-top: .75em;
}

.mapDiv span{
    padding-bottom: .75em;
}

.filterDiv {
    background-color: rgba(220, 220, 220, .85);
    border-top-right-radius: 3px;
    position: absolute;
    bottom: 1.1em;
    left: 1.1em;
    text-align: center;
}

#showFilters {
    background-color:white;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    color: black;
    font-size: 1.085em;
    padding: .3em;
    text-align: left;
    width: min-content;
}

#filterForm {
    padding: .3em;
    text-align: left;
}

#toggleLabel {
    width: 6.5em;
}