/* body{
    
background-color: #36486b; 
font-size: 1.9em;   
}

div{
    
    width: 500px;
    margin: 0 auto;
}
div h1{
    padding: 20px;
    color: white;
}
form{
 margin-top: 60px;
 width: 50%;
 
}
form input{
    padding: 20px;
    margin-top: 20px;
    font-size: 1.2em;
} */